* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 550px;
    padding: 15px;
}

h1, h2, h3, h4 {
    margin-bottom: 5px;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
}

button, input {
    padding: 10px;
    font-size: medium;
    border-radius: 7px;
    border-width: 1px;
    background-color: #e6e6e6;
    border-color: #dadada;
}

.horizontal-line-medium {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 15px 0;
}

.horizontal-line-small {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 15px 0;
}

.invisible {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    padding: 10px 0;
}

#switch-online-offline {
    width: 100%;
    margin-bottom: 5px;
}

#loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #808080;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
    
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#ranking-list {
    list-style: none;
}

#ranking-list li {
    margin-bottom: 5px;
}

.rankinglist-rank {
    font-weight: bold;
}

#login-form {
    margin-top: 20px;
}

#play-field-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#playbuttons-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

#playbuttons-container button {
    margin: 0 2px;
}

.playbutton-win {
    background-color: lightgreen;
}

.playbutton-equal {
    background-color: lightyellow;
}

.playbutton-lost {
    background-color: lightcoral;
}

#enemy-result {    
    width: 200px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid lightgray;
}

#history-section {
    width: 100%;
}

#history-table th {
    padding: 5px 20px 5px 0;
    text-align: left;
}

#history-table td {
    padding: 3px 20px 3px 0;
}

#return-ranking-page {
    width: 100%;
}